{% extends "main.html" %}

{% block body %}
<div class="pt-4">
      <div class="media">
        <img src="{{ url_for('static', filename='images/elmeri_kuva.jpg') }}" class="img-fluid align-self-center mr-3" style="max-width: 15%;" alt="Responsive image"/>
            <div class="media-body">
              <h5 class="mt-0">Elmeri Niemelä <a href="https://www.linkedin.com/in/elmeri-niemela" class="badge badge-light">LinkedIn</a> <a href="#" class="badge badge-light">CV</a></h5>
              <footer class="blockquote-footer pb-2">A Programming and Investing enthusiast and a huge dog lover</footer>
              <!-- <p><a href="www.linkedin.com/in/elmeri-niemela" class="badge badge-light">LinkedIn</a> <a href="#" class="badge badge-light">CV</a></p> -->
              <p>
                    I'm a student of business and computer science at Aalto University and University of Helsinki respectively. 
                    Along side studying I work for SprintIT as a Python Developer
                </p>
                
            </div>
          </div>
</div>
{% endblock %}