{% extends "main.html" %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="githubModal" tabindex="-1" role="dialog" aria-labelledby="githubModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="githubModalLabel">Github Sign-in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('admin.admin_update_all_repos')}}" method="post">
                <div class="modal-body">
                        <input name="username" value="{{ form['username'] if form }}" type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                        <input name="password" value="{{ form['password'] if form }}" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Update Repos</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

function getForm(repo) {
    $("#editForm").attr("action", `/admin/repos/${repo.repo_id}/update`);
    $("#displayName").attr("value", repo.display_name);
    $("#sequence").attr("value", repo.sequence);
    $("#readmeHtml").val(repo.readme_html);
    if (repo.no_update) {
        $("#noUpdate").attr("checked", true);
    } else {
        $("#noUpdate").removeAttr("checked");
    }
};

</script>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Repo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="editFormContainer">
                <form id="editForm" action="/admin/repos/${repo.repo_id}/update" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="displayName">Display Name</label>
                            <input name="display_name" id="displayName" value="${repo.display_name}" type="text" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                                <label for="sequence">Sequence</label>
                                <input name="sequence" id="sequence" value="${repo.sequence}" type="text" class="form-control" required autofocus>
                            </div>
                        <div class="form-check">
                            <input name="no_update" class="form-check-input" type="checkbox" id="noUpdate">
                            <label class="form-check-label" for="noUpdate">
                                Disable updates from Github
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="readmeHtml">Readme HTML</label>
                            <textarea name="readme_html" class="form-control" id="readmeHtml" required rows="10"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="card-block bg-white">

    <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#githubModal">
        Update Repos
    </button>
    <form class="mb-4" action="{{ url_for('admin.admin_delete_all_repos')}}" method="post">
        <button class="btn btn-secondary" type="submit">Delete Repos</button>
    </form>

    {% if content.repos %}
    {% set columns = content.repos[0].keys() %}


    <table class="table" style="max-width: 100% !important;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Sequence</th>
                <th scope="col">Name</th>
                <th scope="col">Display name</th>
                <th scope="col">Topics</th>
                <th scope="col">Updates Disabled</th>
                <th scope="col">Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for repo in content.repos %}
            <tr onclick='getForm({{ repo | tojson }});' data-toggle="modal" data-target="#editModal"  >
                <td >{{ repo['repo_id'] }}</td>
                <td >{{ repo['sequence'] }}</td>
                <td >{{ repo['name'] }}</td>
                <td >{{ repo['display_name'] }}</td>
                <td >{{ repo['topics'] }}</td>
                <td class="text-center">
                    <input type="checkbox" disabled {{ "checked" if repo['no_update'] else "" }}>
                </td>
                <td >{{ repo['update_date'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}