


<link href="{{ url_for('static', filename='modifications/comment.css') }}" rel="stylesheet">    


<div class="container">              
    <div class="widget-area no-padding blank" style="max-width: 600px">
        <div class="status-upload">
            <form>
                <textarea placeholder="What are you doing right now?" ></textarea>
                <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
            </form>
        </div><!-- Status Upload  -->
    </div><!-- Widget Area -->
</div>