
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="nav-wrapper container">
        <a class="navbar-brand" href="/">
                <img style="max-width:120px; max-height:60px; margin: -5px;" src="{{ url_for('static', filename='images/mainlogo.png') }}">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/python/">Python</a>
                        <a class="dropdown-item" href="/java/">Java</a>
                        <a class="dropdown-item" href="/web-development/">Web Development</a>
                        <a class="dropdown-item" href="/c-c++/">C/C++</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LinkedIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-server/">My Server</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/luottokortti/">Donations</a>
                    </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    </nav>