{% extends "main.html" %}

{% block body %}

<div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">Welcome to The Codebase</h4>
    <p>Here you can find my coding projects.</p>
    <hr>
    <a class="text-dark" href="http://thecodebase.site/"> <p class="mb-0">http://thecodebase.site/</p> </a>
</div>

<div class="row">
        {% for topic in TOPIC_DICT.keys() %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card" style="min-height:400px">
              <img class="card-img-top img-fluid align-self-center m-4" src="{{ url_for('static', filename='images/%s' % topic[2]) }}" alt="Card image cap" style="max-width: 10rem">
                <div class="card-body">
                  <h5 class="card-title">{{ topic[0] }}</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="/{{ topic[1] }}/" class="btn btn-secondary">View</a>
                </div>
              </div>

        </div>

      {% endfor %}

</div>
{% endblock %}
