{% extends "main.html" %}

{% block head %}
    
  <link href="{{ url_for('static', filename='modifications/hoverable.css') }}" rel="stylesheet">

{% endblock %}

{% block widebody %}


{% endblock %}

{% block body %}
<div class="row">
    {% for topic in TOPIC_DICT.keys() %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card" style="min-height:26rem" onclick="location.href = '{{ topic.url }}';">
            <img class="img-fluid align-self-center m-4" src="{{ url_for('static', filename='images/%s' % topic.image) }}" alt="Card image cap" style="max-width: 14rem; max-height: 8rem; overflow:hidden">
            <div class="card-body">
                <h5 class="card-title">{{ topic.title }}</h5>
                <p class="card-text">{{ topic.description }}</p>
                <a href="/{{ topic.url }}/" class="btn btn-secondary">View</a>
            </div>
        </div>
            
    </div>
    {% endfor %}
</div>
        
    {% endblock %}
