
{% extends "main.html" %}

{% block body %}


<div class="container text-center mt-5">
    <form action=""  class="form-signin" method="post">
        <img class="mb-4" src="{{ url_for('static', filename='images/mainlogo.png') }}" alt="" style="max-height: 72px;">
        <h1 class="h3 mb-4 font-weight-normal">Sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign in</button>
    </form>
    <p>New user? <a href="/register/">Sign up here</a></p>
    <p>{{ error }}</p>
    
</div>


{% endblock %}


