
{% extends "main.html" %}

{% block head %}

    <link href="{{ url_for('static', filename='modifications/login.css') }}" rel="stylesheet">

{% endblock %}



{% block body %}

<div class="card-block bg-white">

    <div class="container text-center">

        <form action=""  class="form-signin" method="post">
            <img class="mb-4 img-fluid" src="{{ url_for('static', filename='images/mainlogo.png') }}" alt="" style="max-height: 72px;">
            <h1 class="h3 mb-4 font-weight-normal">Sign in</h1>
            <input name="emailUsername" value="{{ form['emailUsername'] if form }}" type="text" id="inputEmail" class="form-control" placeholder="Email or username" required autofocus>
            <input name="password" value="{{ form['password'] if form }}" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign in</button>
        </form>
        <p>New user? <a href="/register/">Sign up here</a></p>
        <p>{{ error }}</p>
        
    </div>
</div>

{% endblock %}


