<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
	<title>The Codebase</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<header>
		{% include 'header.html' %}
</header>


<body>
		<div style="margin-top: 15px;" class="container">
			{% block body %}{% endblock %}
		</div>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	
</body>




</html>
