{% extends "main.html" %}

{% block body %}


<div class="container pt-4 text-center">
    <h3>My Server</h3>
    <p>
        <a href="https://github.com/thecodebasesite/thecodebase" class="badge badge-light ">Github Repository</a>
    </p>
    <div class="row">
        <div class="col-lg-6 col-md-12 mt-4">
            <img src="{{ url_for('static', filename='images/server_combined.jpg') }}" class="img-fluid float-center" alt="Responsive image"/>
        </div>
        <div class="col-lg-6 col-md-12">
            <p class="m-4">
                {% include 'projects/thecodebase.html' %}
            </p>
        </div>
    </div>
</div>
{% endblock %}