{% extends "main.html" %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/phaser/phaser.min.js') }}"></script>
    <style>
        #canvas-container {
            width: 100%;
            text-align:center;
        }
        
        canvas {
            display: inline;
        }
    </style>  
    {% for file in phaser_game.files %}
        <script type="text/javascript" src="{{ url_for('static', filename='%s/%s' % (phaser_game.folder, file) ) }}"></script>
    {% endfor %}

{% endblock %}

{% block body %}
<div class="card-block bg-white">

    <div id="canvas-container">
        <canvas id="gameCanvas">Canvas not supported in your browser</canvas>

        <script type="text/javascript" src="{{ url_for('static', filename='%s/%s' % (phaser_game.folder, phaser_game.files[0]) ) }}"></script>
            
    </div>
</div>
    

{% endblock %}
