{% extends "main.html" %}

{% block head %}

	<link href="{{ url_for('static', filename='modifications/phaser.css') }}" rel="stylesheet">    
    <script type="text/javascript" src="{{ url_for('static', filename='js/phaser.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='platform-game/platform-game.js') }}"></script>

{% endblock %}

{% block body %}
<div id="canvas-container">
    <canvas id="gameCanvas">Canvas not supported in your browser</canvas>

    <script type="text/javascript" src="{{ url_for('static', filename='platform-game/game.js') }}"></script>
        
</div>
    

{% endblock %}
