
{% extends "main.html" %}

{% block body %}
<div class="card-block bg-white">

    <h1 class="display-4 mb-4 text-center">{{ topic.title }}</h1>
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">        
        {% for repo in repos %}
        <li class="nav-item">
            <a class="nav-link {{ 'active' if repo == repos[0] }} text-dark" id="{{ repo.name }}-tab" data-toggle="tab" href="#{{ repo.name }}" role="tab" aria-controls="{{ repo.name }}" aria-selected="false">{{ repo.display_name }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
        {% for repo in repos %}
        <div class="tab-pane fade mt-4 {{ 'show active' if repo == repos[0] }}" id="{{ repo.name }}" role="tabpanel" aria-labelledby="{{ repo.name }}-tab">
            <div class="container pt-4">
                <p class="text-center">
                    <a href="https://github.com/thecodebasesite/{{ repo.name }}" class="badge badge-light ">Github Repository</a>
                </p>
                <p class="m-4">
                    <div class="readme">
                        {{ repo.readme_html | safe }}
                    </div>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        } 
    </script>

</div>
{% endblock %}
