
{% extends "main.html" %}

{% block body %}

<h1 class="display-4 m-5 text-center">{{ key[0] }}</h1>
{% if TOPIC_DICT[key] %}
<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active text-dark" id="{{ TOPIC_DICT[key][0][1] }}-tab" data-toggle="tab" href="#{{ TOPIC_DICT[key][0][1] }}" role="tab" aria-controls="{{ TOPIC_DICT[key][0][1] }}" aria-selected="false">{{ TOPIC_DICT[key][0][0] }}</a>
    </li>
    
    {% for t in TOPIC_DICT[key][1:] %}
    <li class="nav-item">
        <a class="nav-link text-dark" id="{{ t[1] }}-tab" data-toggle="tab" href="#{{ t[1] }}" role="tab" aria-controls="{{ t[1] }}" aria-selected="false">{{ t[0] }}</a>
    </li>
    {% endfor %}
</ul>
<div class="tab-content" id="myTabContent">
    {% for t in TOPIC_DICT[key] %}
    <div class="tab-pane fade mt-4 {{ 'show active' if t == TOPIC_DICT[key][0] }}" id="{{ t[1] }}" role="tabpanel" aria-labelledby="{{ t[1] }}-tab">
        <div class="pt-4">
            <div class="media">
                <div class="media-body text-center">
                    {% if t[3] %}
                    {% endif %}
                    <h3>{{ t[0] }}</h3>
                    <p>
                        <a href="https://github.com/thecodebasesite/{{ t[1] }}" class="badge badge-light ">Github Repository</a>
                    </p>
                    <div class="row">
                        <div class="col-lg-{{ '6' if t[2] else '12' }} col-md-12">
                            <img src="{{ url_for('static', filename='images/%s' % t[3]) }}" class="img-fluid float-center m-4" alt="Responsive image"/>
                        </div>
                        {% if t[2] %}
                        <div class="col-lg-6 col-md-12 mb-4">
                            <p class="m-4">
                                {% include 'projects/%s' % t[2] %}
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


{% endblock %}