

<div class="pt-4">
        <div class="media">
                <div class="media-body">
                        <h3>Bemarifield</h3>
                <p>
                  <a href="https://github.com/thecodebasesite/Bemarifield" class="badge badge-light">Github Repository</a>
                </p>
                <p>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </p>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <img src="{{ url_for('static', filename='images/bem1.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/bem2.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/bem3.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/bem4.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
                    </li>

                </ul>
              </div>
        <!-- <div>
    
            <h3>Bemarifield</h3>
            <p>Bemarifield is my first programming project. </p>
        </div> -->
    </div>