

<div class="pt-4">
        <div class="media">
                <div class="media-body">
                <h3>Bemarifield</h3>
                <p>
                  <a href="https://github.com/thecodebasesite/Bemarifield" class="badge badge-light">Github Repository</a>
                </p>
                <p>
                    This is my first programming project. It is alot like <a href="https://www.ilmailu.org/moniajo.htm">PUTKIAIVOTESTERI</a> but with car logos and implementation is with Python & pygame. 
                </p>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <img src="{{ url_for('static', filename='images/bem1.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/bem2.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/bem3.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/bem4.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
                    </li>

                </ul>
              </div>
    </div>