

<div class="pt-4">
        <div class="media">
                <div class="media-body">
                    <h3>C-practice</h3>
                    <p><a href="https://github.com/thecodebasesite/c-harjoitus" class="badge badge-light">Github Repository</a></p>
                    <p>Practice command line program made with C. It takes a string user input and integer user input. After that it prints the given string, the given amount of times.</p>
                </div>
                <img src="{{ url_for('static', filename='images/c-practice.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
    </div>
</div>