<div class="row">
    <div class="col-lg-6 col-md-12 mt-4">
        <img src="/static/images/odoo.jpg" class="img-fluid float-center" alt="Responsive image">
    </div>

    <div class="col-lg-6 col-md-12 mb-4">
        <p class="m-4">

        </p>
        <p>
            Odoo is an all-in-one business software including CRM, website/e-commerce, billing, accounting,
            manufacturing, warehouse - and project management, and inventory.
            Odoo is an open source ERP software that offers a range of business applications that form a complete suite
            of enterprise management applications targeting companies of all sizes.
        </p>

        <p>
            <a href="https://www.odoo.com/documentation/12.0/reference/orm.html">Odoo ORM</a> is built using Python with
            PostgreSQL as it's object-relational database management system.
            Every consept in Odoo is made into a database table, using Python classes. The table fields are represented
            as class attributes.
        </p>
        <p></p>
    </div>

</div>