<div class="pt-4">
        <div class="media">
                <div class="media-body">
                <h3>Physics 2D</h3>
                <p>
                  <a href="https://github.com/thecodebasesite/Physics" class="badge badge-light">Github Repository</a>
                </p>
                <p>
                    This project comibines my highschool level physics studies with my programming hobby. I wanted to model 2D collisions and the momentum conservation principle visually.
                </p>
                </div>
                <img src="{{ url_for('static', filename='images/physics.gif') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>                
              </div>
    </div>