

<div class="pt-4">
        <div class="media">
                <div class="media-body">
                <img src="{{ url_for('static', filename='images/tdgame.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
                <h3>Tower Defence</h3>
                    <p><a href="https://github.com/thecodebasesite/TowerDefence" class="badge badge-light">Github Repository</a></p>
                    <p>Tower Defence game implemented with pygame. It uses and extends the <code class="highlighter-rouge">pygame.sprite</code> classes for example implementing a grid group.</p>
                </div>
    </div>
</div>