

<div class="pt-4">
        <div class="media">
                <div class="media-body">
                    <h3>Tic Tac Toe</h3>
                    <p><a href="https://github.com/thecodebasesite/tic-tac-toe" class="badge badge-light">Github Repository</a></p>
                    <p>Tic tac toe game made with Java 8, using JavaFX library. This was a part of the Advanced Programming course I attended in the University of Helsinki</p>
                </div>
                <img src="{{ url_for('static', filename='images/tic-tac-toe.png') }}" class="img-fluid float-right pl-2" style="max-width: 50%;" alt="Responsive image"/>
    </div>
</div>